.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    margin-top:-35px;
    line-height: 40px;
    margin-left: 80%;
    pointer-events: none;
    color: #ced4da;
}