.header_bar {
    background-color: black;
}

.part_2 {
    display: inline-block;
}

.ap {
    float: right;
    color: white;
    font-size: 14px;
    margin-left: 250px;
    text-decoration: underline;
    padding-top: 4px;
}

.detail_icon {
    margin-left: 20px;
}

.part_1 {
    padding-bottom: 1px !important;
}

.status {
    color: white;
    font-size: 10px;
    margin-bottom: -10px;
}